@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/functions';

.logo {
  background-color: $white;
  height: em(159px, 16px);
  width: em(212px, 16px);
  @media only screen and (max-width: 938px) and (min-width: 489px) {
    height: em(132px, 16px);
    width: em(176px, 16px);
  }
  @media only screen and (max-width: 488px) and (min-width: 332px) {
    height: em(100px, 16px);
    width: em(133.33px, 16px);
  }
  @media only screen and (max-width: 331px) {
    height: em(81px, 16px);
    width: em(108px, 16px);
  }
}
