@import '../../../../assets/scss/variables';

.question {
  color: $gray;
  font-size: 2rem;
}

.answer {
  color: $almost-black;
  font-size: 1.1rem;
}

.float-wrapper {
  clear: both;
  overflow: auto;
  @media only all and (max-width: 1199px) {
    clear: left;
  }
}

.left {
  float: left;
}

.right {
  float: right;
  @media only all and (max-width: 1199px) {
    float: left;
    margin-bottom: 1rem;
  }
}
