@import '../../../../assets/scss/variables';

.question {
  color: $gray;
  font-size: 2rem;
}

.answer {
  color: $almost-black;
  font-size: 1.1rem;
}

#code-icon {
  display: initial;
  @media only all and (max-width: 421px) {
    display: none;
  }
}
