@import '../../../../assets/scss/variables';

.question {
  color: $gray;
  font-size: 2rem;
}

.answer {
  color: $almost-black;
  font-size: 1.1rem;
}

.float-container {
  clear: both;
  overflow: auto;
}

.left {
  float: left;
  max-width: 30rem;
}

.right {
  float: right;
}

@media only all and (max-width: 991px) {
  .float-container {
    clear: left;
  }

  .right {
    float: left;
    margin-bottom: 1rem;
  }
}
