<div class="container pt-3">
  <h1 class="mt-3">Frequently Asked Questions</h1>
  <hr />
  <div class="mt-4">
    <p>
      <span class="question">What is a ROM?</span>
      <br />
      <span class="answer">A ROM is a Read Only Memory.</span>
    </p>
    <p>
      <span class="question">How do I play a ROM on my computer?</span>
      <br />
      <span class="answer"
        >In order to play a ROM in your computer, you need an
        <strong>emulator</strong>.<br />I recommend
        <a [href]="emulatorUrl" target="_blank">Retroarch</a>.</span
      >
    </p>
    <h2 id="browser-compatibility">Browser Compatibility</h2>
    <app-faq-tabset></app-faq-tabset>
  </div>
</div>
