DirectoryIndex disabled
Options +ExecCGI +Indexes

# DirectoryIndex index.shtml

<FilesMatch "\.(gb[ac]?|[n3]ds|xci)$">
    Require all denied
</FilesMatch>

<Files ~ "^\.">
    Require all denied
</Files>
