@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables';
@import './assets/scss/modules/font-faces';
@import './assets/scss/modules/scrollbar';

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html {
  overflow-x: hidden;

  body {
    background: $white url($bg-img);
    font-family: Roboto, Arial, Verdana, sans-serif !important;
  }
}

*:disabled {
  cursor: not-allowed;
}

.underline {
  text-decoration: underline;
}

// webkit browsers
::selection {
  background-color: $chile-yellow;
}

// gecko browsers
::-moz-selection {
  background-color: $chile-yellow;
}

.form-control:focus {
  $box-shadow-form-control: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0 !important;
  -webkit-box-shadow: $box-shadow-form-control !important;
  -moz-box-shadow: $box-shadow-form-control !important;
  box-shadow: $box-shadow-form-control !important;
}
