@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables';
@import './assets/scss/modules/font-faces';
@import './assets/scss/modules/scrollbar';

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html {
  overflow-x: hidden;

  body {
    background: $white url($bg-img);
    font-family: 'Roboto', Arial, sans-serif !important;
  }
}

*:disabled {
  cursor: not-allowed;
}

.spinner {
  height: auto;
  width: 8rem;
}

.spinner-container {
  height: unquote('#{$calc-height}');
  left: 50%;
  margin-left: -64px;
  position: absolute;
}
