@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables';
@import './assets/scss/modules/font-faces';
@import './assets/scss/modules/scrollbar';

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html {
  overflow-x: hidden;

  body {
    background: $white url($bg-img);
    font-family: 'Roboto', Arial, Verdana, sans-serif !important;
  }
}

*:disabled {
  cursor: not-allowed;
}

.underline {
  text-decoration: underline;
}

// webkit browsers
::selection {
  background-color: $yellow;
}

// gecko browsers
::-moz-selection {
  background-color: $yellow;
}
