<ng-container>
  <div class="text-center bg-pkmn" id="carousel-container">
    <home-splash-carousel></home-splash-carousel>
  </div>
  <hr class="m-0 p-0 bg-white" />
  <div class="w-100 bg-light">
    <home-showcase-jumbotron></home-showcase-jumbotron>
    <hr class="m-0 p-0 bg-white" />
    <div class="pt-4 pb-4 bg-danger text-light">
      <h3 class="text-center mb-4 ml-3 mr-3 display-5">
        {{ accHeading }}
      </h3>
      <home-info-accordion></home-info-accordion>
    </div>
    <hr class="m-0 p-0 bg-white" />
    <div class="pt-1 bg-success text-light">
      <p class="pt-4 pb-3 text-center" id="more-info-container">
        Visit the <a [routerLink]="['/', 'faq']" class="white-link">FAQ</a> page
        for more details about this website, including
        <a
          [routerLink]="['/', 'faq']"
          fragment="browser-compatibility"
          class="white-link"
          >browser compatibility</a
        >.
      </p>
    </div>
  </div>
</ng-container>
