@import '../../../assets/scss/variables';

.bg-pkmn {
  background: $bg-pkmn url($bg-carousel);
}

#carousel-container {
  height: unquote('#{$calc-body-height}');
}

#more-info-container {
  margin: 0 1rem;
}

.white-link {
  color: $white;
  font-weight: bold;
}
