package-lock.json export-ignore
client/package-lock.json export-ignore

* text=auto
*.py text
*.txt text
*.rb text
*.bat text
*.sh text
*.js text
*.scss text
*.css text
*.html text
*.ts text
*.json text
*.yml text
*.env text
*.xml text
*.eslintrc text
*.ftpquota text
*.gitignore text
*.gitkeys text
*.gitattributes text
*.htaccess text
*LICENSE text
*.md text
*.prettierrc text
*.webmanifest text
*.png binary
*.jpg binary
*.svg text
*.gif binary
*.ico binary
*.eot binary
*.woff binary
*.woff2 binary
*.ttf binary
*browserslist text
*.editorconfig text

* text eol=lf
