<ng-container>
  <spinners-gif-spinner [loading]="loading"></spinners-gif-spinner>
  <div class="container mt-2" id="natures-container">
    <h1 class="mt-2">Natures</h1>
    <hr />
    <ng-container *ngIf="!loading">
      <div
        appAlert
        alertType="danger"
        class="text-center"
        [shadow]="true"
        *ngIf="isError; else naturesTable"
      >
        Oops, there was a problem while trying to load the natures.<br />Please
        try again later.
      </div>
      <ng-template #naturesTable>
        <natures-table [natureData]="natures"></natures-table>
      </ng-template>
    </ng-container>
  </div>
</ng-container>
