<ng-container>
  <div id="update-roms-spinner-container" class="mb-3" *ngIf="loading">
    <spinners-bootstrap-spinner
      [loading]="loading"
      type="border"
      color="primary"
    ></spinners-bootstrap-spinner>
  </div>
  <button
    class="mb-3"
    type="button"
    appBtn
    btnType="warning"
    (click)="updateRoms()"
    *ngIf="showBtn"
  >
    Update ROMs
  </button>
  <div
    id="roms-updated-alert-container"
    class="p-2"
    appAlert
    [alertType]="this.romsUpdated ? 'success' : 'danger'"
    *ngIf="this.romsUpdated !== undefined"
    @fadeIn
  >
    <fa-icon
      class="mr-1"
      [icon]="this.romsUpdated ? faCheckCircle : faTimesCircle"
    ></fa-icon>
    {{
      this.romsUpdated
        ? 'ROMs successfully updated!'
        : 'Error updating ROMs, please try again later.'
    }}
  </div>
</ng-container>
