<ng-container>
  <ng-template #updateROMsWarning>
    <b>Warning</b><br />Updating ROMs will remove all favorites.
  </ng-template>
  <div id="update-roms-spinner-container" *ngIf="loading">
    <spinners-bootstrap-spinner
      [loading]="loading"
      type="border"
      color="primary"
    ></spinners-bootstrap-spinner>
  </div>
  <button
    class="mb-3"
    type="button"
    appBtn
    btnType="warning"
    [ngbTooltip]="updateROMsWarning"
    (click)="updateRoms()"
    *ngIf="showBtn"
  >
    Update ROMs
  </button>
  <div
    id="roms-updated-alert-container"
    class="shadow"
    appAlert
    [alertType]="romsUpdated ? 'success' : 'danger'"
    *ngIf="romsUpdated !== undefined"
    @fadeIn
  >
    <fa-icon
      class="mr-1"
      [icon]="romsUpdated ? faCheckCircle : faTimesCircle"
    ></fa-icon>
    {{
      romsUpdated
        ? 'ROMs successfully updated!'
        : 'Error updating ROMs, please try again later.'
    }}
  </div>
</ng-container>
