// _mixins.scss

@import 'functions';

@mixin responsive-width($min-width, $max-width, $width) {
  @media only all and (min-width: $min-width) and (max-width: $max-width) {
    width: $width;
  }
}

@mixin list-container(
  $margin-bottom,
  $margin-left,
  $margin-top,
  $max-width,
  $margin
) {
  margin-bottom: $margin-bottom;
  margin-left: $margin-left;
  margin-top: $margin-top;
  @media only all and (max-width: $max-width) {
    margin: $margin;
  }
}

@mixin add-font-face($font-data, $font-url-prefix) {
  @each $font-name, $local1, $font-style, $font-weight, $font-woff2-url,
    $font-woff1-url in $font-data
  {
    $local2: str-replace(
      str-replace($font-woff1-url, '#{$font-url-prefix}/', ''),
      '.woff',
      ''
    );
    @font-face {
      font-display: auto;
      font-family: $font-name;
      font-style: $font-style;
      font-weight: $font-weight;
      src: local($local1), local($local2), url($font-woff2-url) format('woff2'),
        url($font-woff1-url) format('woff');
    }
  }
}
