@charset "UTF-8";
// _variables.scss


// colors
$red: #f00;
$yellow: #ff0;
$gray: #808080;
$almost-black: #333;
$light-gray: #d3d3d3;
$very-light-gray: #ccc;
$light-crimson: #d6300a;
$dark-red: #8b0000;
$white: #fff;
$black: #000;
$success-green: #006400;
$dark-gray: #343a40;
$bg-pkmn: #424242;
$carousel-bg: #343940;
$scrollbar-bg-color-light: #ffe621;
$scrollbar-bg-color-dark: #e6bc2f; // #dbb800;
$scrollbar-thumb-bg-color: #daa520;
$fav-color: #148b42;
$ufo-green: #8fff00;
$proton-purple: #8a2be2;
$clear: rgba(255, 255, 255, 0);
// opacity colors
$scrollbar-thumb-shadow-gray: rgba(0, 0, 0, .5);
$scrollbar-track-shadow-color: rgba(0, 0, 0, .3);

// urls
$bg-img: '/assets/images/background.png';
$bg-carousel: '/assets/images/carousel_bg.png';
// font urls (Roboto)
$font-url-prefix: '/assets/fonts';
$roboto-regular: '#{$font-url-prefix}/Roboto-Regular.woff';
$roboto-regular2: '#{$font-url-prefix}/Roboto-Regular.woff2';
$roboto-bold: '#{$font-url-prefix}/Roboto-Bold.woff';
$roboto-bold2: '#{$font-url-prefix}/Roboto-Bold.woff2';
$roboto-condensed-light-italic: '#{$font-url-prefix}/RobotoCondensed-LightItalic.woff';
$roboto-condensed-light-italic2: '#{$font-url-prefix}/RobotoCondensed-LightItalic.woff2';
$roboto-bold-italic: '#{$font-url-prefix}/Roboto-BoldItalic.woff';
$roboto-bold-italic2: '#{$font-url-prefix}/Roboto-BoldItalic.woff2';
$roboto-condensed-bold: '#{$font-url-prefix}/RobotoCondensed-Bold.woff';
$roboto-condensed-bold2: '#{$font-url-prefix}/RobotoCondensed-Bold.woff2';
$roboto-thin-italic: '#{$font-url-prefix}/Roboto-ThinItalic.woff';
$roboto-thin-italic2: '#{$font-url-prefix}/Roboto-ThinItalic.woff2';
$roboto-condensed-regular: '#{$font-url-prefix}/RobotoCondensed-Regular.woff';
$roboto-condensed-regular2: '#{$font-url-prefix}/RobotoCondensed-Regular.woff2';
$roboto-thin: '#{$font-url-prefix}/Roboto-Thin.woff';
$roboto-thin2: '#{$font-url-prefix}/Roboto-Thin.woff2';
$roboto-light-italic: '#{$font-url-prefix}/Roboto-LightItalic.woff';
$roboto-light-italic2: '#{$font-url-prefix}/Roboto-LightItalic.woff2';
$roboto-condensed-italic: '#{$font-url-prefix}/RobotoCondensed-Italic.woff';
$roboto-condensed-italic2: '#{$font-url-prefix}/RobotoCondensed-Italic.woff2';
$roboto-light: '#{$font-url-prefix}/Roboto-Light.woff';
$roboto-light2: '#{$font-url-prefix}/Roboto-Light.woff2';
$roboto-condensed: '#{$font-url-prefix}/RobotoCondensed-Light.woff';
$roboto-condensed2: '#{$font-url-prefix}/RobotoCondensed-Light.woff2';
$roboto-black: '#{$font-url-prefix}/Roboto-Black.woff';
$roboto-black2: '#{$font-url-prefix}/Roboto-Black.woff2';
$roboto-medium: '#{$font-url-prefix}/Roboto-Medium.woff';
$roboto-medium2: '#{$font-url-prefix}/Roboto-Medium.woff2';
$roboto-medium-italic: '#{$font-url-prefix}/Roboto-MediumItalic.woff';
$roboto-medium-italic2: '#{$font-url-prefix}/Roboto-MediumItalic.woff2';
$roboto-condensed-bold-italic: '#{$font-url-prefix}/RobotoCondensed-BoldItalic.woff';
$roboto-condensed-bold-italic2: '#{$font-url-prefix}/RobotoCondensed-BoldItalic.woff2';
$roboto-black-italic: '#{$font-url-prefix}/Roboto-BlackItalic.woff';
$roboto-black-italic2: '#{$font-url-prefix}/Roboto-BlackItalic.woff2';
$roboto-italic: '#{$font-url-prefix}/Roboto-Italic.woff';
$roboto-italic2: '#{$font-url-prefix}/Roboto-Italic.woff2';
