Options +FollowSymLinks +Includes

AddType text/html .html
AddHandler server-parsed .html
Options Indexes FollowSymLinks Includes
Options +Includes
AddType text/html .html
AddOutputFilter INCLUDES .html
AddType text/html .shtml
AddHandler server-parsed .shtml

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    # php8 (https://stackoverflow.com/a/39806398)
    <IfModule mod_php.c>
        # php settings to override when running on Apache [source: php.ini]
        <IfModule mod_rewrite.c>
            php_value max_input_time 0
            php_value max_execution_time 0
            php_value post_max_size 0
            php_value memory_limit -1
            php_value upload_max_filesize 20G
            php_value max_file_uploads 20
            php_value default_socket_timeout -1
            php_value upload_tmp_dir "C:/xampp/tmp"
            php_flag file_uploads on
            php_flag exit_on_timeout false
        </IfModule>
    </IfModule>


    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
