@charset "UTF-8";

@import '../../../../assets/scss/variables';

.bg-pkmn {
  background: $bg-pkmn url($bg-carousel);
}

#carousel-container {
  height: unquote('calc(100% - (56px + 2rem))');
}

#more-info-container {
  margin: 0 1rem;
}
