<ng-container>
  <div class="text-center bg-pkmn" id="carousel-container">
    <app-home-carousel></app-home-carousel>
  </div>
  <hr class="m-0 p-0 bg-white" />
  <div class="w-100 bg-light">
    <app-home-jumbotron></app-home-jumbotron>
    <hr class="m-0 p-0 bg-white" />
    <div class="pt-4 pb-4 bg-danger text-light">
      <h3 class="text-center mt-2 mb-4 ml-3 mr-3 display-5">
        {{ accHeading }}
      </h3>
      <app-home-accordion></app-home-accordion>
    </div>
    <hr class="m-0 p-0 bg-white" />
    <div class="bg-success text-light">
      <p class="pt-4 pb-2 text-center" id="more-info-container">
        Visit the <a [routerLink]="['/', 'faq']" class="white-link">FAQ</a> page
        for more details about this website, including
        <a
          [routerLink]="['/', 'faq']"
          fragment="browser-compatibility"
          class="white-link"
          >browser compatibility</a
        >.
      </p>
    </div>
  </div>
</ng-container>
