@import '../../../../assets/scss/variables';

.bg-pkmn {
  background: $bg-pkmn url($bg-carousel);
}

#carousel-container {
  height: unquote($string: 'calc(100vh - (#{$header-height} + #{$footer-height}))');
}

#more-info-container {
  margin: 0 1rem;
}
