<div class="rom">
  <div class="img-container">
    <img
      [alt]="imgAlt(rom.game_name) | lowercase"
      [src]="rom.box_art_url"
      [ngClass]="applyClassesForGameImgSize(imgAlt(rom.game_name))"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title text-center mt-2">
      <fa-icon class="mr-2" [icon]="faStar" *ngIf="rom.is_favorite"></fa-icon>
      {{ rom.game_name }}
    </h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item font-weight-bold list-grid">
        <span>File Size</span
        ><span class="text-right">{{
          fileSizeData(rom.file_size).join('')
        }}</span>
      </li>
      <li class="list-group-item font-weight-bold list-grid">
        <span>File Type</span
        ><span class="text-right">{{ rom.file_type }}</span>
      </li>
      <li class="list-group-item font-weight-bold list-grid">
        <span>Generation</span
        ><span class="text-right generation">{{
          romanize(rom.generation)
        }}</span>
      </li>
      <li class="list-group-item font-weight-bold list-grid">
        <span>Platform</span><span class="text-right">{{ rom.platform }}</span>
      </li>
    </ul>
    <div class="card-body card-body-container">
      <a [routerLink]="['info', rom._id]" appBtn btnType="primary"
        ><!--<fa-icon [icon]="faInfo" class="mr-2"></fa-icon>-->Information</a
      >
    </div>
  </div>
</div>
