@import '../../../../assets/scss/variables';

.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-body-container {
  margin: 0 auto;
  // padding-top: 15px;
  text-align: center;
  z-index: 20;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-art-img {
  height: calc(100vw - (70vw - 2.5rem));
  @media only all and (max-width: 916px) {
    height: 32vw;
    width: 32vw;
  }
}

.oversized-img {
  object-fit: cover !important;
}

.card-container {
  margin: 10px;
  width: 30vw;
  @media only all and (max-width: 916px) {
    margin: 0;
    width: 70vw !important;
  }
}

.img-container {
  @media only all and (max-width: 916px) {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }
}

//.generation {
//  text-decoration: underline overline;
//}
