@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @media only screen and (max-width: 1060px) {
        .nav-item-create { /* class for nav item on nav bar that is used for adding models to db */
            display: none !important;
        }
    }
}
