<header class="border-shadow">
  <span class="navbar-toggler-icon"></span>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="nav-header">
    <img
      [src]="images.LOGO | defaultImage: logoFallbackUrl:true"
      alt="app-logo"
      id="logo"
      class="navbar-brand d-inline-block align-top mr-2"
      routerLink="/"
    />
    <!-- <a class="navbar-brand" routerLink="/">Pok&eacute;ROM</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let route of routes">
          <a
            class="nav-link white"
            [routerLink]="route.routerLink"
            [routerLinkActive]="route.routerLinkActive"
            [routerLinkActiveOptions]="route.routerLinkActiveOptions"
            [accessKey]="route.accessKey"
            >{{ route.navLinkText }}</a
          >
        </li>
      </ul>
      <div class="ml-auto">
        <div class="btn-group" *ngIf="isRoutes(loggedOutRoutes, false)">
          <a
            class="nav-item"
            appBtn
            btnType="light-outline"
            [routerLink]="['/', 'login']"
            accesskey="l"
            >Login</a
          >
          <a
            class="nav-item"
            appBtn
            btnType="light-outline"
            [routerLink]="['/', 'register']"
            accesskey="g"
            >Register</a
          >
        </div>
        <div
          class="btn-group"
          *ngIf="!isUrl('/login', 'full') && !isLoggedOut()"
        >
          <a
            [routerLink]="['/', 'account']"
            *ngIf="!isUrl('/account', 'full')"
            class="nav-item"
            appBtn
            btnType="light-outline"
            accesskey="a"
            >Account</a
          >
          <button
            type="button"
            class="nav-item"
            appBtn
            btnType="light-outline"
            (click)="logout()"
            accesskey="l"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
