@import '../../../../assets/scss/variables';

header {
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 22;

  #nav-header {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.white {
  color: $white !important;
}

.yellow {
  color: $scrollbar-bg-color-dark !important;
}

#logo {
  background-color: $navbar-bg-color;
  cursor: pointer;
  height: 2rem;
  width: 74px;
  //@media only screen and (max-width: 575px) {
  //  display: none !important;
  //}
}
