@charset "UTF-8";
// _font-faces.scss

@import '../variables';
@import '../functions';

$roboto-font-data:
'Roboto' normal bold $roboto-bold2 $roboto-bold,
'Roboto' normal normal $roboto-regular2 $roboto-regular,
'Roboto Condensed' italic 300 $roboto-condensed-light-italic2 $roboto-condensed-light-italic,
'Roboto' italic bold $roboto-bold-italic2 $roboto-bold-italic,
'Roboto Condensed' normal bold $roboto-condensed-bold2 $roboto-condensed-bold,
'Roboto' italic 100 $roboto-thin-italic2 $roboto-thin-italic,
'Roboto Condensed' normal normal $roboto-condensed-regular2 $roboto-condensed-regular,
'Roboto' normal 100 $roboto-thin2 $roboto-thin2,
'Roboto' italic 300 $roboto-light-italic2 $roboto-light-italic,
'Roboto Condensed' italic normal $roboto-condensed-italic2 $roboto-condensed-italic,
'Roboto' normal 300 $roboto-light2 $roboto-light,
'Roboto Condensed' normal 300 $roboto-condensed2 $roboto-condensed,
'Roboto' normal 900 $roboto-black2 $roboto-black,
'Roboto' normal 500 $roboto-medium2 $roboto-medium,
'Roboto' italic 500 $roboto-medium-italic2 $roboto-medium-italic,
'Roboto Condensed' italic bold $roboto-condensed-bold-italic2 $roboto-condensed-bold-italic,
'Roboto' italic 900 $roboto-black-italic2 $roboto-black-italic,
'Roboto' italic normal $roboto-italic2 $roboto-italic;

@each $font-name, $font-style, $font-weight, $font-woff2-url, $font-woff1-url in $roboto-font-data {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src:
    local($font-name),
    local(str-replace(str-replace($font-woff1-url, $roboto-font-url-prefix, ''), '.woff', '')),
    url($font-woff2-url) format('woff2'),
    url($font-woff1-url) format('woff');
  }
}

$arial-font-data:
'Arial' normal bold $arial-bold2 $arial-bold,
'Arial Narrow' italic bold $arial-narrow-bold-italic2 $arial-narrow-bold-italic,
'Arial' italic bold $arial-bold-italic2 $arial-bold-italic,
'Arial' normal normal $arial2 $arial,
'Arial' normal 900 $arial-black2 $arial-black,
'Arial Narrow' normal normal $arial-narrow2 $arial-narrow,
'Arial Narrow' italic normal $arial-narrow-italic2 $arial-narrow-italic,
'Arial Narrow' normal bold $arial-narrow-bold2 $arial-narrow-bold,
'Arial' italic normal $arial-italic2 $arial-italic;

@each $font-name, $font-style, $font-weight, $font-woff2-url, $font-woff1-url in $arial-font-data {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src:
    local($font-name),
    local(str-replace(str-replace($font-woff1-url, $arial-font-url-prefix, ''), '.woff', '')),
    url($font-woff2-url) format('woff2'),
    url($font-woff1-url) format('woff');
  }
}
