@charset "UTF-8";
// _scrollbar.scss

/*! CUSTOM SCROLLBAR ONLY WORKS IN WEBKIT BROWSERS (CHROME, OPERA, & SAFARI) */

@import '../variables';

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $scrollbar-track-shadow-color;
  border-radius: 10px;
  box-shadow: inset 0 0 6px $scrollbar-track-shadow-color;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px $scrollbar-thumb-shadow-gray;
  background-color: $scrollbar-bg-color-dark;
  border-radius: 10px;

  &:hover {
    -webkit-box-shadow: inset 0 0 6px $scrollbar-thumb-shadow-gray;
    background-color: $scrollbar-bg-color-light;
    border-radius: 10px;
    box-shadow: inset 0 0 6px $scrollbar-thumb-shadow-gray;
  }

  &:active {
    -webkit-box-shadow: inset 0 0 6px $scrollbar-thumb-shadow-gray;
    background-color: $scrollbar-thumb-bg-color;
    border-radius: 10px;
    box-shadow: inset 0 0 6px $scrollbar-thumb-shadow-gray;
  }
}
