@charset "UTF-8";

@import '../../../../assets/scss/variables';

#natures-container {
  overflow-x: scroll !important;
}

#natures {
  background-color: $white;
}

.header-text {
  display: initial;
  @media only all and (max-width: 991px) {
    display: none;
  }
}

.header-icon-container {
  @media only all and (max-width: 991px) {
    text-align: center;
  }
}
