<div id="acc-container" class="ml-3 mr-3 text-dark">
  <ngb-accordion [closeOthers]="true">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="black">What does this Website Include?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        This website has all Core Pok&eacute;mon Game ROMs, as well as some ROM
        Hacks.
        <br /><br />
        <span class="font-weight-bold">ROM Hacks Include:</span>
        <ul>
          <li>Pok&eacute;mon Prism</li>
          <li>Pok&eacute;mon Ash Gray</li>
        </ul>
        Also, this website does not contain any ads, tracking or telemetry.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="black">Where did I get these ROMs?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Every single ROM that you will see, download, or read about on this
        website has been dumped directly from its own cartridge (except the ROM
        hacks, which were retrieved online). So how did I do this?
        <br /><br />
        For starters, to dump the GB and GBC ROMs, I used my N64 controller's
        Transfer Pak along with
        <a [href]="raphnetWebsite" target="_blank" rel="noreferrer">Raphet's</a
        >&nbsp;
        <a [href]="raphnetSoftware" target="_blank" rel="noreferrer"
          >Adapter Management tool</a
        >
        (using Raphnet's
        <a [href]="raphnetProduct" target="_blank" rel="noreferrer"
          >N64 to USB adapter</a
        >) to read and dump the ROM from the cartridge. <br /><br />
        Next, I used my R4 along with a GBA backup tool on my DS Lite to dump
        the ROM on all GBA cartridges.
        <br /><br />
        For all NDS and 3DS core games, I used my CFW 3DS and GodMode9 to dump
        those ROMs from their respective cartridges.
        <br /><br />
        Finally, I recently hacked my Switch, and was thus able to dump the
        Pok&eacute;mon Lets Go Pikachu and Eevee ROMs (as well as Sword and
        Shield).
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="black">Are these ROMs Free?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Absolutely! Each and every ROM is free and backed by a no-adware/virus
        guarantee!<br />You won't ever have to deal with those pesky installers
        or even survey scams.<br />This site contains direct download links
        only. All the ROMs come from my cloud database.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="black">How did this project start?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <p>
          Over a year ago I started planning out a concept for a Pokemon ROMs
          website. I remember it was the only thing that kept me going in
          school. I was depressed and barely wanted to go to class. But during
          breaks I would get out paper and start drawing concept designs for my
          website. A month or two later I started to actually code it. It felt
          really kewl to actually take my knowledge and apply it to something
          that made me happy. 2 more months went by, and I was ready to launch
          it on the internet: for the world (well, just me actually) to see.
          That was one of the most memorable days of my life. I remember waking
          up at 1:30 am in the morning on an Amazon Rainforest cruise to start
          pushing my code to a production environment. I woke up so early
          because during the day we would be out on a small boat exploring the
          jungle. It took me over 5 hours with 2 kilobits of bandwidth in the
          middle of the Amazon to deploy my website. I’ll never forget that day
          (June 17th, 2019). From then on, I went to buy my own domain, hosting
          server, and SSL certificates. It took me weeks just to figure out how
          all that worked. After all, I never had experience with that before
          then. Since those vivid days, I have run my own website that I have
          maintained for over a year. It is one of the only things that I am
          proud of when I think of my senior year in high school.
        </p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
