<div class="d-flex justify-content-center pt-4 pb-2">
  <ngb-pagination
    aria-label="ROMs pagination"
    [directionLinks]="pageWidth > 600 && romsData.length > 0"
    [collectionSize]="romsData.length"
    [pageSize]="itemsPerPage"
    [(page)]="currentPage"
    (pageChange)="onPageChange(currentPage)"
    [disabled]="romsData.length === 0"
    [size]="changeSizeOfPagination()"
  >
    <!-- [boundaryLinks]="pageWidth > 600 && romsData.length > 0" -->
    <ng-template *ngIf="pageWidth > 600" ngbPaginationPrevious
      >Prev</ng-template
    >
    <ng-template *ngIf="pageWidth > 600" ngbPaginationNext
      >Next</ng-template
    ></ngb-pagination
  >
</div>
