<div id="roms-pagination-container" class="pt-4 pb-2">
  <ngb-pagination
    aria-label="ROMs pagination"
    [directionLinks]="pageWidth > 600 && romsData.length > 0"
    [collectionSize]="romsData.length"
    [pageSize]="itemsPerPage"
    [(page)]="currentPage"
    (pageChange)="onPageChange(currentPage)"
    [disabled]="romsData.length === 0"
    [boundaryLinks]="false"
  >
    <ng-template *ngIf="pageWidth > 600" ngbPaginationPrevious
      >Prev</ng-template
    >
    <ng-template *ngIf="pageWidth > 600" ngbPaginationNext
      >Next</ng-template
    ></ngb-pagination
  >
</div>
