@import '../../../assets/scss/variables';

.spinner {
  height: auto;
  width: 8rem;
  // animation: rotate 3s linear infinite;
}

.spinner-container {
  height: unquote('#{$calc-body-height}');
  margin-right: -64px;
  margin-top: -64px;
  position: fixed;
  right: 50%;
  top: 50%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
