@import '../../../assets/scss/variables';

.spinner {
  height: auto;
  width: 8rem;
}

.spinner-container {
  height: unquote('#{$calc-height}');
  right: 50%;
  margin-right: -64px;
  position: absolute;
}
