@charset 'UTF-8';

@import '../../../../assets/scss/variables';


.container-grid {
  border-radius: 8px;
  display: grid;
  grid-column-gap: 14%;
  grid-row-gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  padding: 20px 0 2rem;
  width: 70vw;
  @media only all and (max-width: 916px) {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    margin: 0 auto !important;
    padding: 0;
    width: 90vw;
  }
}

.roms-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
