@charset "UTF-8";

@import '../../../../assets/scss/variables';

/*
 * CSS Grid Layout:
 * 
 * Full:
 * |=============================================|
 * |                      |                      | 
 * |                      |                      | 
 * |                      |                      | 
 * |        rom-1         |        rom-2         | 
 * |                      |                      | 
 * |                      |                      | 
 * |                      |                      | 
 * |----------------------|----------------------| 
 * |                      |                      | 
 * |                      |                      | 
 * |                      |                      | 
 * |        rom-3         |        rom-4         | 
 * |                      |                      | 
 * |                      |                      | 
 * |                      |                      | 
 * |=============================================|
 * 
 * Responsive:
 * |======================|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-1         |
 * |                      |
 * |                      |
 * |                      |
 * |----------------------|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-2         |
 * |                      |
 * |                      |
 * |                      |
 * |----------------------|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-3         |
 * |                      |
 * |                      |
 * |                      |
 * |----------------------|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-4         |
 * |                      |
 * |                      |
 * |                      |
 * |======================|
 */

.container-grid {
  border-radius: 8px;
  display: grid;
  grid-column-gap: 14%;
  grid-row-gap: 2.5rem;
  grid-template-areas:
  'rom-1 rom-2'
  'rom-3 rom-4';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(188px);
  padding: 20px 0 2rem;
  width: 70vw;
  @media only all and (max-width: 916px) {
    grid-row-gap: 50px;
    grid-template-areas:
    'rom-1'
    'rom-2'
    'rom-3'
    'rom-4';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto !important;
    padding: 0;
    width: 90vw;
  }
}

/*
 * CSS Flexbox Alignment:
 * |======================================|
 * |                                      |
 * |                                      |
 * |                                      |
 * |            ROMs CSS Grid             |
 * |                                      |
 * |                                      |
 * |                                      |
 * |                                      |
 * |--------------------------------------|
 * |           ngb Pagination             |
 * |                                      |
 * |======================================|
 */

.roms-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#no-roms-heading {
  margin-top: 5rem;
}
