<div class="container text-center" id="form-container">
  <app-spinner [loading]="!ready"></app-spinner>
  <div class="alert alert-danger" *ngIf="errLoadingUsr">
    There was an error while trying to load your user information. Please try
    again later.
  </div>
  <form
    *ngIf="ready"
    (ngSubmit)="save()"
    #accountForm="ngForm"
    name="accountForm"
    autocomplete="on"
  >
    <fieldset>
      <legend class="pt-2 pb-2 text-center">Account</legend>
      <div class="border rounded" id="border-container">
        <div class="form-group">
          <ng-container>
            <label for="name" class="font-weight-bold">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              autocomplete="name"
              placeholder="Optional"
              minlength="1"
              maxlength="100"
              [(ngModel)]="user.name"
              #name="ngModel"
            />
            <div *ngIf="user.hasOwnProperty('name')">
              <div
                [hidden]="!(name.touched && name.invalid)"
                class="alert alert-warning"
              >
                <div [hidden]="!name.errors?.minlength">
                  Name is too short (min: 1, current: {{ user.name.length }}).
                </div>
                <div [hidden]="!name.errors?.maxlength">
                  Name is too long (max: 100, current: {{ user.name.length }}).
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container>
            <label for="username" class="font-weight-bold">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              autocomplete="username"
              placeholder="Required"
              minlength="5"
              maxlength="22"
              [(ngModel)]="user.username"
              #username="ngModel"
              required
            />
            <div
              [hidden]="!(username.touched && username.invalid)"
              class="alert alert-warning"
            >
              <div [hidden]="!username.errors?.required">
                Username is required.
              </div>
              <div [hidden]="!username.errors?.minlength">
                Username is too short (min: 5, current:
                {{ user.username.length }}).
              </div>
              <div [hidden]="!username.errors?.maxlength">
                Username is too long (max: 22, current:
                {{ user.username.length }}).
              </div>
            </div>
          </ng-container>
          <ng-container>
            <label for="password" class="font-weight-bold">Password</label>
            <input
              [type]="changePwInputType()"
              class="form-control"
              id="password"
              name="password"
              autocomplete="new-password"
              placeholder="Required"
              minlength="8"
              maxlength="256"
              [(ngModel)]="user.password"
              #password="ngModel"
              (focus)="this.pwFocused = true"
              (blur)="this.pwFocused = false"
              required
            />
            <div
              [hidden]="!(password.touched && password.invalid)"
              class="alert alert-warning"
            >
              <div [hidden]="!password.errors?.required">
                Password is required.
              </div>
              <div [hidden]="!password.errors?.minlength">
                Password is too short (min: 8, current:
                {{ user.password.length }}).
              </div>
              <div [hidden]="!password.errors?.maxlength">
                Password is too long (max: 256, current:
                {{ user.password.length }}).
              </div>
            </div>
          </ng-container>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          (click)="sanitizeData()"
          [disabled]="!accountForm.valid"
        >
          Save
        </button>
      </div>
    </fieldset>
    <div class="alert alert-danger mt-1" *ngIf="updateFail">
      {{ updateFail }}
    </div>
    <div class="mt-3 alert alert-warning">
      Updating your user data will log you out.
    </div>
  </form>
</div>
