<div class="p-2">
  <spinners-gif-spinner [loading]="loading"></spinners-gif-spinner>
  <ng-container *ngIf="!loading">
    <div class="rom-info-container">
      <div class="rom-info-header-container">
        <div class="back-btn-container">
          <button
            type="button"
            aria-label="back"
            appBtn
            btnType="primary"
            [routerLink]="['/', 'roms']"
          >
            <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
          </button>
        </div>
        <div class="title-container">
          <h1>ROM Info</h1>
        </div>
        <div class="dummy-container"></div>
      </div>
      <div class="rom-info-err-wrapper pt-3" *ngIf="isError; else romInfo">
        <div class="ml-4 mr-4 text-center" appAlert alertType="danger">
          <ng-container [ngSwitch]="errStatusCode">
            <ng-container *ngSwitchCase="401">
              You're not logged in and thus cannot access this ROM.
            </ng-container>
            <ng-container *ngSwitchCase="403">
              You cannot access this user's ROM.
            </ng-container>
            <ng-container *ngSwitchCase="404">
              Sorry, it looks like this ROM doesn't exist.
            </ng-container>
            <ng-container *ngSwitchDefault>
              Oops, there was an error while trying to load your ROM
              information. Please try again later.
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-template #romInfo>
        <roms-info-game-name
          class="game-title"
          [finishedLoading]="finishedLoading"
          [gameName]="rom.game_name"
          [romType]="rom.rom_type"
        ></roms-info-game-name>
        <roms-info-game-logo
          class="game-logo"
          [logoUrl]="rom.logo_url"
          [gameName]="rom.game_name"
        ></roms-info-game-logo>
        <roms-info-game-description
          class="game-description"
          [type]="rom.rom_type"
          [description]="rom.description"
          [finishedLoading]="finishedLoading"
        ></roms-info-game-description>
        <roms-info-rom-download
          class="rom-download"
          [downloadLink]="rom.download_link"
        ></roms-info-rom-download>
        <roms-info-mark-favorite
          class="mark-favorite"
          [isFavorite]="rom.is_favorite"
          [id]="rom._id"
        ></roms-info-mark-favorite>
        <roms-info-game-specs
          class="game-specs"
          [region]="rom.region"
          [dateReleased]="rom.date_released"
          [genre]="rom.genre"
          [generation]="rom.generation"
        ></roms-info-game-specs>
        <roms-info-rom-specs
          class="rom-specs"
          [platform]="rom.platform"
          [fileName]="rom.file_name"
          [fileSize]="rom.file_size"
          [fileType]="rom.file_type"
        ></roms-info-rom-specs>
      </ng-template>
    </div>
  </ng-container>
</div>
