main {
  position: absolute;
  top: 56px;
  width: 100%;

  .router-container {
    padding-bottom: 2.5rem;
  }

  .alert-container {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 23;
  }
}
