@import '../../../assets/scss/variables';
@import '../../../assets/scss/functions';

/*
 * CSS Grid Layout:
 *
 * Full:
 * |=============================================|
 * |                      |                      |
 * |                      |                      |
 * |                      |                      |
 * |        rom-1         |        rom-2         |
 * |                      |                      |
 * |                      |                      |
 * |                      |                      |
 * |----------------------|----------------------|
 * |                      |                      |
 * |                      |                      |
 * |                      |                      |
 * |        rom-3         |        rom-4         |
 * |                      |                      |
 * |                      |                      |
 * |                      |                      |
 * |=============================================|
 *
 * Responsive:
 * |======================|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-1         |
 * |                      |
 * |                      |
 * |                      |
 * |----------------------|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-2         |
 * |                      |
 * |                      |
 * |                      |
 * |----------------------|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-3         |
 * |                      |
 * |                      |
 * |                      |
 * |----------------------|
 * |                      |
 * |                      |
 * |                      |
 * |        rom-4         |
 * |                      |
 * |                      |
 * |                      |
 * |======================|
 */

.roms-grid-container {
  display: grid;
  grid-gap: 4.2rem;
  grid-template-areas:
    'rom-1 rom-2'
    'rom-3 rom-4';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(min-content, auto);
  justify-items: center;
  padding-bottom: 0.6rem;
  width: 100%;
  @media only screen and (max-width: 916px) {
    grid-row-gap: 1.4rem;
    grid-template-areas:
      'rom-1'
      'rom-2'
      'rom-3'
      'rom-4';
    grid-template-columns: 1fr;
    grid-template-rows:
      1fr
      fit-content(em(300px, 16px))
      fit-content(em(300px, 16px))
      fit-content(em(300px, 16px));
    margin: 0 auto;
  }
}

/*
 * CSS Flexbox Alignment:
 * |======================================|
 * |            ROMs Heading              |
 * |------------------------------------- |
 * |                                      |
 * |                                      |
 * |            ROMs CSS Grid             |
 * |                                      |
 * |                                      |
 * |                                      |
 * |                                      |
 * |--------------------------------------|
 * |           ngb Pagination             |
 * |                                      |
 * |======================================|
 */

.roms-flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  width: 70vw;
}

/**
 * CSS3 Inline Flexbox
 * |================================================|
 * | Dummy Container | ROMs Heading | Favorites BTN |
 * |================================================|
 */
.roms-heading-container {
  h1 {
    text-align: left;
  }
}

.dummy-container {
  display: none;
}

.favorites-btn-container {
  margin-top: 0.25rem;
}

@media only screen and (max-width: 916px) {
  .dummy-container {
    display: block;
  }

  h1 {
    text-align: center;
  }
}

#toggle-favs-responsive {
  display: none;
}

#toggle-favs {
  display: inherit;
}

@media only screen and (max-width: 600px) {
  #toggle-favs-responsive {
    display: inherit;
  }

  #toggle-favs {
    display: none;
  }

  .favorites-btn-container {
    text-align: right;
  }
}

#no-roms-heading,
#roms-err {
  margin-top: 2rem;
}

.card {
  width: 100% !important;
}
