<ng-container>
  <spinners-gif-spinner [loading]="loading"></spinners-gif-spinner>
  <ng-container *ngIf="!loading">
    <h2
      *ngIf="romsData.length < 1 && !isError"
      class="text-center"
      id="no-roms-heading"
    >
      {{ noRomsMsg }}
    </h2>
    <div
      class="mr-5 ml-5 text-center"
      appAlert
      alertType="danger"
      id="roms-err"
      *ngIf="isError"
    >
      Oops, there was an error while trying to load your ROMs. Please try again
      later.
    </div>
  </ng-container>
  <div
    class="roms-flex-container"
    *ngIf="!loading && !isError && romsData.length > 0"
  >
    <div class="mt-2 mb-0 roms-heading-container">
      <div class="d-flex justify-content-between mt-2">
        <h1>ROMs</h1>
        <div class="mt-1">
          <button
            type="button"
            appBtn
            btnType="primary"
            (click)="getRoms(!favoritesShown)"
          >
            {{ favoritesShown ? 'Show All' : 'Filter Favorites' }}
          </button>
        </div>
      </div>
      <hr class="mt-0" />
    </div>
    <div class="roms-grid-container">
      <roms-rom
        *ngFor="
          let rom of romsData
            | slice: (!favoritesShown ? pageSize : 0)
            | slice: 0:(!favoritesShown ? itemsPerPage : romsData.length)
        "
        class="card card-container border rounded"
        [rom]="rom"
      ></roms-rom>
    </div>
    <roms-pagination
      [romsData]="romsData"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      (paginate)="onPageChange($event)"
      [favoritesShown]="favoritesShown"
    ></roms-pagination>
  </div>
</ng-container>
