@charset 'UTF-8';

#rom-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr repeat(2, fit-conent(1fr)) 42px;
  margin: 30px;
  @media only all and (max-width: 938px) {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr repeat(2, 255px) 55px;
    margin: 0 auto;
    text-align: center;
  }
}

#rom-info-container {
  margin-bottom: 2.5em;
  @media only all and (max-width: 991px) {
    margin-top: 2.5rem !important;
  }
}

#game-logo {
  grid-column: 1;
  grid-row: 1;
}

#game-description {
  grid-column: 1;
  grid-row: 2 / 4;
  @media only all and (max-width: 938px) {
    grid-column: 1;
    grid-row: 2;
  }
}

#game-download {
  grid-column: 1;
  grid-row: 4;
  @media only all and (max-width: 938px) {
    grid-column: 1;
    grid-row: 5;
  }
}

#game-specs {
  grid-column: 2;
  grid-row: 2;
  padding-top: 38px;
  @media only all and (max-width: 938px) {
    grid-column: 1;
    grid-row: 3;
    padding-top: 0;
  }
}

#rom-specs {
  grid-column: 2;
  grid-row: 3;
  @media only all and (max-width: 938px) {
    grid-column: 1;
    grid-row: 4;
  }
}

#back-btn-container {
  float: left;
  margin-left: 2%;
  @media only all and (max-width: 530px) {
    float: none;
    margin-bottom: 2rem;
    margin-left: 1%;
  }
}
