<div class="p-2">
  <app-spinner [loading]="loading"></app-spinner>
  <div class="alert alert-danger mt-4 pt-2" *ngIf="isError">
    Oops, looks like there was an error while trying to load your ROM
    information.<br />Please try again later.
  </div>
  <div id="rom-info-container" class="mt-4" *ngIf="!loading && !isError">
    <div id="back-btn-container">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['/', 'roms']"
      >
        <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
      </button>
    </div>
    <div id="title-container">
      <h1>ROM Info</h1>
    </div>
    <div id="dummy-container">
      <div style="width: 40px;">
        <!-- dummy div -->
      </div>
    </div>
  </div>
  <div *ngIf="!loading">
    <app-game-name
      [gameName]="rom.game_name"
      [romType]="rom.rom_type"
    ></app-game-name>
    <div id="rom-container">
      <app-game-logo
        id="game-logo"
        [logoUrl]="rom.logo_url"
        [gameName]="rom.game_name"
      ></app-game-logo>
      <app-game-description
        id="game-description"
        [description]="rom.description"
        [gameName]="rom.game_name"
      ></app-game-description>
      <app-rom-download
        id="rom-download"
        [downloadLink]="rom.download_link"
      ></app-rom-download>
      <app-game-specs
        id="game-specs"
        [region]="rom.region"
        [dateReleased]="rom.date_released"
        [genre]="rom.genre"
        [generation]="rom.generation"
      ></app-game-specs>
      <app-rom-specs
        id="rom-specs"
        [platform]="rom.platform"
        [fileName]="rom.file_name"
        [fileSize]="rom.file_size"
        [fileType]="rom.file_type"
      ></app-rom-specs>
    </div>
  </div>
</div>
