<div class="p-2">
  <app-spinner [loading]="loading"></app-spinner>
  <div
    class="alert alert-danger ml-4 mr-4 text-center rom-info-err-wrapper"
    *ngIf="isError"
  >
    <div [ngSwitch]="errStatus">
      <div *ngSwitchCase="401">
        You're not logged in and thus cannot access this ROM. Click
        <a routerLink="/">here</a> to go back to the home page.
      </div>
      <div *ngSwitchCase="403">
        You cannot access this user's ROM. Click <a routerLink="/">here</a> to
        go back to the home page.
      </div>
      <div *ngSwitchCase="404">
        Looks like this ROM doesn't exist. Click <a routerLink="/">here</a> to
        go back to the home page.
      </div>
      <div *ngSwitchDefault>
        Oops, there was an error while trying to load your ROM information.
        Please try again later. Click <a routerLink="/">here</a> to go back to
        the home page.
      </div>
    </div>
  </div>
  <ng-container *ngIf="!loading && !isError">
    <div class="rom-info-container">
      <div class="rom-info-header-container" *ngIf="!loading && !isError">
        <div id="back-btn-container">
          <button
            type="button"
            aria-label="back"
            class="btn btn-primary"
            [routerLink]="['/', 'roms']"
          >
            <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
          </button>
        </div>
        <div id="title-container">
          <h1>ROM Info</h1>
        </div>
        <div id="dummy-container"></div>
      </div>
      <ng-container>
        <app-game-name
          id="game-title"
          [gameName]="rom.game_name"
          [romType]="rom.rom_type"
        ></app-game-name>
        <app-game-logo
          id="game-logo"
          [logoUrl]="rom.logo_url"
          [gameName]="rom.game_name"
        ></app-game-logo>
        <div id="game-description-title">
          <h4>
            <fa-icon
              [icon]="faFileAlt"
              class="mr-3 ml-1"
              id="description-icon"
            ></fa-icon
            >{{ isRomHack(rom.rom_type) ? '' : 'Pokemon.com '
            }}<span class="mr-1">Description</span>
          </h4>
        </div>
        <app-game-description
          id="game-description"
          [description]="rom.description"
        ></app-game-description>
        <app-rom-download
          id="rom-download"
          [downloadLink]="rom.download_link"
        ></app-rom-download>
        <app-game-specs
          id="game-specs"
          [region]="rom.region"
          [dateReleased]="rom.date_released"
          [genre]="rom.genre"
          [generation]="rom.generation"
        ></app-game-specs>
        <app-rom-specs
          id="rom-specs"
          [platform]="rom.platform"
          [fileName]="rom.file_name"
          [fileSize]="rom.file_size"
          [fileType]="rom.file_type"
        ></app-rom-specs>
      </ng-container>
    </div>
  </ng-container>
</div>
