<table id="natures" class="table table-striped border shadow">
  <thead>
    <tr>
      <th *ngFor="let header of headers; let i = index">
        <div class="header-icon-container">
          <fa-icon [icon]="icons[i]"></fa-icon>
        </div>
        <span class="header-text">{{ header }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nature of natures">
      <td>{{ nature.name }}</td>
      <td>{{ nature.up }}</td>
      <td>{{ nature.down }}</td>
      <td>{{ nature.flavor || 'N/A' }}</td>
      <td>{{ nature.usage }}</td>
    </tr>
  </tbody>
</table>
