@import '../../../../assets/scss/variables';

#cookies-alert {
  margin: 1rem 1rem 0;
  background: rgba(255, 243, 205, 1) !important;
  text-shadow: -1px -1px 0 $clear, 1px -1px 0 $clear, -1px 1px 0 $clear,
    1px 1px 0 $clear;
}
