#download-link-wrapper > a {
  width: 100%;
}

@media only all and (max-width: 938px) {
  #download-link-wrapper {
    margin-top: 0.95rem;
  }

  #no-download-msg {
    margin-bottom: 0;
  }
}

#no-download-msg {
  @media only all and (min-width: 938px) {
    margin-bottom: 3rem;
  }
}
