@import '../../../../assets/scss/variables';

.spinner {
  // animation: rotate 3s linear infinite;
  height: 8rem; // auto
  width: 8rem;
}

.spinner-container {
  height: unquote('#{$calc-body-height}');
  margin-right: -64px;
  margin-top: -64px;
  position: fixed;
  right: 50%;
  top: 50%;
  z-index: 18;
}

@media only screen and (max-width: 500px) {
  .spinner {
    height: 4rem !important; // auto
    width: 4rem !important;
  }

  .spinner-container {
    margin-right: -32px !important;
    margin-top: -32px !important;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
