#description {
  height: 100%;
  margin-bottom: 0 !important;
  overflow-y: auto;
  padding: 1em 20px 20px;
  text-align: left !important;
  word-wrap: break-word;
  @media only all and (max-width: 938px) {
    height: 300px;
    padding-bottom: 1em !important;
  }
}
