@import '../../../../assets/scss/variables';

footer {
  bottom: 0;
  height: 2rem;
  position: fixed;
  width: 100%;
  z-index: 21;
}

#footer-content {
  color: $white;
  bottom: 0;
  height: 2rem;
  position: absolute;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  .a {
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translate(50%, -50%);
  }
  @media only all and (max-width: 414px) {
    font-size: 12px;
  }
}

a {
  color: $white;
}
