@import '../../../../assets/scss/variables';

footer {
  bottom: 0;
  height: 2rem;
  position: fixed;
  width: 100%;
  z-index: 21;
}

#footer-content {
  bottom: 0;
  color: $white;
  height: 2rem;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  @media only screen and (max-width: 414px) {
    font-size: 12px;
  }
}

#footer-content > span {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 100%;
}

a {
  color: $white;
}
