<footer class="border-shadow">
  <p id="footer-content" class="text-center bg-dark">
    <span>
      {{ !environment.production ? appName + ' (Beta)' : appName }}
      | &copy; {{ getYear().toString() }}
      <a
        [href]="
          !environment.production
            ? environment.apiUrl.replace('/api', '') + '/credits.php'
            : '/credits.php'
        "
        target="_self"
        >{{ author }}</a
      >
      |
      <a
        href="https://opensource.org/licenses/MIT"
        target="_blank"
        rel="noreferrer"
        >MIT License</a
      >
    </span>
  </p>
</footer>
