<ng-container>
  <app-gif-spinner [loading]="loading"></app-gif-spinner>
  <div class="container mt-2">
    <h1 class="mt-3">Rate this App</h1>
    <hr />
    <div class="border p-4 bg-light rounded">
      <form
        name="ratingForm"
        (ngSubmit)="submitRating()"
        *ngIf="!formSubmitted"
      >
        <div appAlert alertType="danger" [hidden]="formValid">
          Rating must be between 1 and 10.
        </div>
        <div class="form-group">
          <div class="mb-1">
            <app-ratings-rating
              (mouseleave)="resetRating()"
              (mousemove)="currentRate = currentRateHover"
              (click)="rateHasChanged = true"
              (currentRateHover)="setRatingHover($event)"
              (currentRate)="setRating($event)"
            ></app-ratings-rating>
          </div>
          Current rating: {{ rateHasChanged ? currentRate : currentRateHover }}
        </div>
        <div class="form-group">
          <label for="message">Feedback</label>
          <textarea
            name="message"
            id="message"
            class="form-control"
            [(ngModel)]="message"
            placeholder="Optional"
            maxlength="1000"
          ></textarea>
          <div appAlert alertType="danger" [hidden]="message.length <= 1000">
            Feedback message is to too long. It can only be 1000 characters at
            max.
          </div>
          <p class="mt-2">Current Length: {{ message.length }} (Max: 1000)</p>
        </div>
        <div
          id="submit-container-float"
          class="mr-auto"
          [ngClass]="{ 'float-container-box': !rateHasChanged }"
        >
          <div>
            <input
              type="submit"
              value="Submit!"
              appBtn
              btnType="success"
              [disabled]="!rateHasChanged || message.length > 1000 || firedOff"
            />
          </div>
          <div>
            <span
              class="ml-3"
              appAlert
              alertType="warning"
              [hidden]="rateHasChanged"
              >Please choose a rating.</span
            >
          </div>
        </div>
        <div class="mt-3 mb-0" appAlert alertType="danger" [hidden]="!isError">
          Oops, there was an error while trying to submit your rating. Please
          try again later.
        </div>
      </form>
      <ng-container *ngIf="formSubmitted">
        <h3 id="thx-msg" class="text-center">
          Thank you for your feedback!&nbsp;
        </h3>
      </ng-container>
    </div>
    <app-ratings-alert></app-ratings-alert>
  </div>
</ng-container>
