<div class="container mt-4">
  <h2>Rate this App</h2>
  <hr />
  <div class="border p-4 bg-light rounded">
    <form name="ratingForm" (ngSubmit)="submitRating()" *ngIf="!formSubmitted">
      <div class="alert alert-danger" [hidden]="formValid">
        Rating must be between 1 and 10.
      </div>
      <div class="form-group">
        <div class="mb-1">
          <app-rating
            (mouseleave)="resetRating()"
            (mousemove)="currentRate = currentRateHover"
            (click)="rateHasChanged = true"
            (currentRateHover)="setRatingHover($event)"
            (currentRate)="setRating($event)"
          ></app-rating>
        </div>
        Current rating: {{ rateHasChanged ? currentRate : currentRateHover }}
      </div>
      <div class="form-group">
        <label for="message">Feedback</label>
        <textarea name="message" id="message" class="form-control" [(ngModel)]="message" placeholder="Optional" maxlength="1000"></textarea>
        <div class="alert alert-danger" [hidden]="message.length <= 1000">
          Feedback message to too long. It can only be 1000 characters at max.
        </div>
        <p class="mt-2">Current Length: {{ message.length }} (Max: 1000)</p>
      </div>
      <input type="submit" value="Submit!" class="btn btn-success" [disabled]="!rateHasChanged || message.length > 1000"  />
      <span class="ml-3 alert alert-warning p-2" [hidden]="rateHasChanged">Please choose a rating.</span>
    </form>
    <div *ngIf="formSubmitted">
      <h3 id="thx-msg">Thank you for your feedback&nbsp;</h3>
    </div>
  </div>
  <app-alert></app-alert>
</div>
