@charset "UTF-8";

@import '../../../../assets/scss/variables';

.form {
  margin: 0 auto;
  width: 50vw;
  @media only all and (max-width: 668px) {
    width: 70vw;
  }
}

.green {
  color: $success-green;
}

#success {
  font-size: 1.8rem;
}
